
<!DOCTYPE html>
<html lang="en">
<head>
    <title>EditCimerPost - Cimeri</title>
    <meta property="og:title" content="EditCimerPost - Cimeri" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

            button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
                border-style: none;
                padding: 0;
            }

            button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
                outline: 1px dotted ButtonText;
            }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Source Sans Pro;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);
        }
    </style>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap"
          data-tag="font" />

    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        ScrollReveal({ reset: true });
    </script>
</head>
<body>
    <div>
        <link href="~/css/edit-cimer-post.css" rel="stylesheet" />

        <div class="edit-cimer-post-container">
            <section class="edit-cimer-post-hero">
                <div class="edit-cimer-post-background"></div>
                <header data-thq="thq-navbar" class="edit-cimer-post-navbar">
                    <img alt="image"
                         src="~/css/public/c-white-200w.png"
                         class="edit-cimer-post-image" />
                    <div data-thq="thq-navbar-nav"
                         data-role="Nav"
                         class="edit-cimer-post-desktop-menu">
                        <nav data-thq="thq-navbar-nav-links"
                             data-role="Nav"
                             class="edit-cimer-post-nav">
                            <span class="navLink">
                                <a href="/">Почетна</a>
                            </span>
                            
                            <span class="navLink">
                                <a href="/MyProfile">Мој профил</a>
                            </span>
                        </nav>
                        

                        <a href="/Account/Logout" class="button">
                            <span>Одјави се</span>
                            <svg viewBox="0 0 1024 1024" class="edit-cimer-post-icon">
                                <path d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"></path>
                            </svg>
                        </a>
                    </div>
                    
                </header>
            </section>
            <section class="edit-cimer-post-notes">
                <div class="edit-cimer-post-second">
                    <div data-aos="fade-up-left" class="edit-cimer-post-content">
                        <form class="edit-cimer-post-content" method="post" action="/CimeriPost/Edit/@ViewBag.cimeriPost.CimeriPostID">
                            <div class="edit-cimer-post-container02">
                                <h2 class="edit-cimer-post-header">Ажурирање на оглас</h2>
                                <h2 class="edit-cimer-post-header1">* - задолжително</h2>
                                <h2 class="edit-cimer-post-header2">
                                    Останатите полиња не се задолжителни, но помогаат во наогање
                                    покомпатибилен цимер за вас!
                                </h2>
                            </div>
                            <div class="edit-cimer-post-container03">
                                <div class="edit-cimer-post-container04">
                                    <span class="edit-cimer-post-text07">
                                        *Град во кој барате цимери
                                    </span>


                                    <select required class="edit-cimer-post-select" name="cityID">
                                        @foreach (var city in ViewBag.allCities)
                                        {
                                            <option value="@city.CityID" selected="@(city.CityID==ViewBag.cimeriPost.CityID)">@city.CityName</option>
                                        }
                                    </select>



                                </div>
                                <div class="edit-cimer-post-container05">
                                    <span class="edit-cimer-post-text08">
                                        <span>*Буџет</span>
                                        <span class="edit-cimer-post-text10">(во денари)</span>
                                    </span>
                                    <input type="number"
                                           min="1"
                                           step="1"
                                           required=""
                                           placeholder="Буџет по лице..."
                                           class="edit-cimer-post-textinput input"
                                           name="budget"
                                           value="@ViewBag.cimeriPost.budget" />



                                </div>
                            </div>
                            <div class="edit-cimer-post-container06">
                                <div class="edit-cimer-post-container07">
                                    <span class="edit-cimer-post-text11">
                                        Дали е задолжително цимерот да биде од ист пол?
                                    </span>

                                    <select class="edit-cimer-post-select1" name="sameGenderRequired">
                                        <option value="-1" selected="@(ViewBag.cimeriPost.sameGenderRequired==-1)">Изберете</option>
                                        <option value="1" selected="@(ViewBag.cimeriPost.sameGenderRequired==1)">Да</option>
                                        <option value="0" selected="@(ViewBag.cimeriPost.sameGenderRequired==0)">Не</option>
                                    </select>

                                </div>
                                <div class="edit-cimer-post-container08">
                                    <span class="edit-cimer-post-text12">
                                        Доколку сте студент, дали исклучиво барате цимер студент?
                                    </span>

                                    <select class="edit-cimer-post-select2" name="studentRequired">
                                        <option value="-1" selected="@(ViewBag.cimeriPost.studentRequired==-1)">Изберете</option>
                                        <option value="1" selected="@(ViewBag.cimeriPost.studentRequired==1)">Да</option>
                                        <option value="0" selected="@(ViewBag.cimeriPost.studentRequired==0)">Не</option>
                                    </select>

                                </div>
                            </div>
                            <div class="edit-cimer-post-container09">
                                <div class="edit-cimer-post-container10">
                                    <span class="edit-cimer-post-text13">
                                        <span>Со колку луѓе ви е оптимално да живеете?</span>
                                        <br />
                                        <span class="edit-cimer-post-text16">
                                            (сметајќи се и себе)
                                        </span>
                                        <br />
                                    </span>

                                    <input type="number"
                                           min="1"
                                           step="1"
                                           placeholder="Број на цимери..."
                                           class="edit-cimer-post-textinput1 input"
                                           name="optimalNumberOfRoommates"
                                           value="@((ViewBag.cimeriPost.optimalNumberOfRoommates == 0) ? string.Empty : ViewBag.cimeriPost.optimalNumberOfRoommates)" />

                                </div>
                                <div class="edit-cimer-post-container11">
                                    <span class="edit-cimer-post-text18">
                                        Колку време планирате да живеете со цимерот?
                                    </span>

                                    <select class="edit-cimer-post-select3" name="howLong">
                                        <option value="-1" selected="@(ViewBag.cimeriPost.howLong==-1)">Изберете</option>
                                        <option value="1" selected="@(ViewBag.cimeriPost.howLong==1)">3 месеци или помалку</option>
                                        <option value="2" selected="@(ViewBag.cimeriPost.howLong==2)">3 месеци до 1 година</option>
                                        <option value="3" selected="@(ViewBag.cimeriPost.howLong==3)">1+ година</option>
                                    </select>

                                </div>
                            </div>
                            <div class="edit-cimer-post-container12">
                                <div class="edit-cimer-post-container13">
                                    <span class="edit-cimer-post-text19">
                                        <span>Дали сте пушач?</span>
                                        <br />
                                    </span>

                                    <select class="edit-cimer-post-select4" name="isSmoker">
                                        <option value="-1" selected="@(ViewBag.cimeriPost.isSmoker==-1)">Изберете</option>
                                        <option value="1" selected="@(ViewBag.cimeriPost.isSmoker==1)">Да</option>
                                        <option value="0" selected="@(ViewBag.cimeriPost.isSmoker==0)">Не</option>
                                    </select>

                                </div>
                                <div class="edit-cimer-post-container14">
                                    <span class="edit-cimer-post-text22">
                                        Дали е во ред да има гости во станот од време на време?
                                    </span>

                                     <select class="edit-cimer-post-select5" name="guestsAllowed">
                                        <option value="-1" selected="@(ViewBag.cimeriPost.guestsAllowed==-1)">Изберете</option>
                                        <option value="1" selected="@(ViewBag.cimeriPost.guestsAllowed==1)">Да</option>
                                        <option value="0" selected="@(ViewBag.cimeriPost.guestsAllowed==0)">Не</option>
                                    </select>

                                </div>
                            </div>

                            <button class="edit-cimer-post-learn-more button button-style-2">
                                <span class="edit-cimer-post-text41">Ажурирај</span>
                                <svg viewBox="0 0 1024 1024" class="edit-cimer-post-icon12">
                                    <path d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"></path>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </section>
            <footer class="edit-cimer-post-footer">
                <div class="edit-cimer-post-content1">
                    <div class="edit-cimer-post-details">
                        <h2 class="edit-cimer-post-title">Cimeri.mk</h2>
                    </div>
                    <div class="edit-cimer-post-socials">
                        <img alt="image"
                             src="~/css/public/linkedin-200h.png"
                             class="edit-cimer-post-image1" />
                        <img alt="image"
                             src="~/css/public/instagram-200h.png"
                             class="edit-cimer-post-image2" />
                    </div>
                    <span class="edit-cimer-post-copyright">
                        Privacy — Terms &amp; Conditions — Code of Conduct © 2023 Blagoja
                        Nikoloski All Rights Reserved
                    </span>
                </div>
            </footer>
        </div>
    </div>
    <script data-section-id="navbar"></script>
</body>
</html>
