@using Cimeri.Domain.DTO
@{
    var allCimeriPosts = ViewBag.allCimeriPosts as List<MyProfileDTO>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyProfile - Cimeri</title>
    <meta property="og:title" content="MyProfile - Cimeri" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

            button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
                border-style: none;
                padding: 0;
            }

            button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
                outline: 1px dotted ButtonText;
            }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Source Sans Pro;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);
        }
    </style>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap"
          data-tag="font" />

    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        ScrollReveal({ reset: true });
    </script>
</head>
<body>
    <div>
        <link href="~/css/my-profile.css" rel="stylesheet" />

        <div class="my-profile-container">
            <section class="my-profile-hero">
                <div class="my-profile-background"></div>
                <header data-thq="thq-navbar" class="my-profile-navbar">
                    <img alt="image"
                         src="~/css/public/c-white-200w.png"
                         class="my-profile-image" />
                    <div data-thq="thq-navbar-nav"
                         data-role="Nav"
                         class="my-profile-desktop-menu">
                        <nav data-thq="thq-navbar-nav-links"
                             data-role="Nav"
                             class="my-profile-nav">
                            <span class="navLink">
                                <a href="/">Почетна</a>
                            </span>
                            
                            <span class="navLink">
                                <a href="/MyProfile">Мој профил</a>
                            </span>
                        </nav>
                        <a href="/Account/Logout" class="button">
                            <span>Одјави се</span>
                            <svg viewBox="0 0 1024 1024" class="my-profile-icon">
                                <path d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"></path>
                            </svg>
                        </a>
                    </div>
                    
                </header>
            </section>
            <section class="my-profile-notes">
                <div class="my-profile-first">
                    <div data-aos="fade-up-right" class="my-profile-content">
                        <h1 class="my-profile-text07">Мој профил</h1>
                    </div>
                </div>
                <div class="my-profile-second">
                    <div data-aos="fade-up-left" class="my-profile-content1">
                        <div class="my-profile-container2">
                            <div class="my-profile-container3">
                                <span class="my-profile-text08">Име:</span>
                                <span class="my-profile-text09">@ViewBag.firstname</span>
                            </div>
                            <div class="my-profile-container4">
                                <span class="my-profile-text10">Презиме:</span>
                                <span class="my-profile-text11">@ViewBag.lastname</span>
                            </div>
                            <div class="my-profile-container5">
                                <span class="my-profile-text12">Е-Пошта</span>
                                <span class="my-profile-text13">@ViewBag.email</span>
                            </div>
                            <div class="my-profile-container6">
                                <span class="my-profile-text14">Телефонски број:</span>
                                <span class="my-profile-text15">@ViewBag.phonenumber</span>
                            </div>
                        </div>
                        <div class="my-profile-features">
                            <h1 class="my-profile-text16">Огласи</h1>
                            @if (!allCimeriPosts.Any())
                            {
                            <h2 class="my-profile-empty-header">
                                Немате активни огласи..
                            </h2>
                            }

                            @foreach (var cimeriPost in allCimeriPosts)
                            {
                                <div style="display: flex; align-items: center;">
                                    <div class="my-profile-container7">
                                        <div class="feature-card2-feature-card feature-card2-root-class-name">
                                            <div class="feature-card2-container">
                                                <img alt="image" src="~/css/public/c-grey-200w.png" class="feature-card2-image" />
                                            </div>
                                            <div class="feature-card2-container1">
                                                <div class="feature-card2-container2">
                                                    <h2 class="feature-card2-text">
                                                        <span>Оглас за цимер број: @cimeriPost.CimeriPostID</span>
                                                    </h2>
                                                    <form method="get" action="/CimeriPost/Edit">
                                                        <input type="hidden" name="CimeriPostID" value="@cimeriPost.CimeriPostID" />
                                                        <button type="submit" class="feature-card2-button button">
                                                            <span>Edit</span>
                                                        </button>
                                                    </form>
                                                    <form method="post" action="/CimeriPost/Delete/@cimeriPost.CimeriPostID">
                                                        <button type="submit" class="feature-card2-button1 button">
                                                            <span>Delete</span>
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="feature-card2-container3">
                                                    <span><span>Град: @cimeriPost.city</span></span>
                                                    <span><span>Буџет: @cimeriPost.budget</span></span>
                                                    <span><span>Ист пол: @cimeriPost.sameGenderRequired</span></span>
                                                    <span><span>Студент: @cimeriPost.studentRequired</span></span>
                                                    <span><span>Број на цимери: @cimeriPost.optimalNumberOfRoommates</span></span>
                                                    <span><span>Време на живеење: @cimeriPost.howLong</span></span>
                                                    <span><span>Пушач: @cimeriPost.isSmoker</span></span>
                                                    <span><span>Гости: @cimeriPost.guestsAllowed</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-container">
                                        <a class="home-register2 button-style-1 button" href="/CimerList/@cimeriPost.CimeriPostID">
                                            <span class="home-text08">
                                                <span>Најди</span>
                                                <br />
                                            </span>
                                            <img alt="image" src="~/css/public/cimeri-white-200h.png" class="home-image2" />
                                        </a>
                                    </div>
                                </div>



                            }



                        </div>
                    </div>
                </div>
        </div>
        </section>
        <footer class="my-profile-footer">
            <div class="my-profile-content2">
                <div class="my-profile-details">
                    <h2 class="my-profile-title">Cimeri.mk</h2>
                </div>
                <div class="my-profile-socials">
                    <img alt="image"
                         src="~/css/public/linkedin-200h.png"
                         class="my-profile-image1" />
                    <img alt="image"
                         src="~/css/public/instagram-200h.png"
                         class="my-profile-image2" />
                </div>
                <span class="my-profile-copyright">
                    Privacy — Terms &amp; Conditions — Code of Conduct © 2023 Blagoja
                    Nikoloski All Rights Reserved
                </span>
            </div>
        </footer>
    </div>
    </div>
    <script data-section-id="navbar"></script>
</body>
</html>
