@model Cimeri.Domain.DTO.UserRegistrationDto
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register - Cimeri</title>
    <meta property="og:title" content="Register - Cimeri" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

            button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
                border-style: none;
                padding: 0;
            }

            button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
                outline: 1px dotted ButtonText;
            }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Source Sans Pro;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);
        }
    </style>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap"
          data-tag="font" />

    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        ScrollReveal({ reset: true });
    </script>
</head>
<body>
    <div>
        <link href="~/css/register.css" rel="stylesheet" />

        <div class="register-container">
            <section class="register-hero">
                <header data-thq="thq-navbar" class="register-navbar">
                    <img alt="image"
                         src="~/css/public/c-white-200w.png"
                         class="register-image" />
                    <div data-thq="thq-navbar-nav"
                         data-role="Nav"
                         class="register-desktop-menu">
                        <nav data-thq="thq-navbar-nav-links"
                             data-role="Nav"
                             class="register-nav">
                            <span class="navLink">
                                <a href="/">Почетна</a>
                            </span>
                            
                            <span class="navLink">
                                <a href="/MyProfile">Мој профил</a>
                            </span>
                        </nav>
                        <a href="/Account/Login" class="button">
                            <span>Најава/Регистрацја</span>
                            <svg viewBox="0 0 1024 1024" class="register-icon">
                                <path d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"></path>
                            </svg>
                        </a>
                    </div>
                    
                </header>
                <div class="register-hero-content">
                    @Html.ValidationSummary()
                    <form class="form-container" asp-action="Register" asp-controller="Account" method="post">
                        <h2 class="register-title">Регистрација</h2>
                        <div class="register-container02">
                            <div class="register-container03">
                                <div class="register-container04">
                                    <span class="register-text07">Име</span>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "register-textinput input", autocomplete = "username", aria_required = "true", placeholder = "Име" })
                                    @Html.ValidationMessageFor(m => m.Name)
                                </div>
                                <div class="register-container05">
                                    <span class="register-text08">Презиме</span>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "register-textinput input", autocomplete = "username", aria_required = "true", placeholder = "Презиме" })
                                    @Html.ValidationMessageFor(m => m.LastName)
                                </div>
                            </div>
                            <div class="register-container06">
                                <div class="register-container07">
                                    <span class="register-text09">Е-Пошта</span>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "register-textinput input", autocomplete = "username", aria_required = "true", placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                <div class="register-container08">
                                    <span class="register-text10">Телефонски број</span>
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "register-textinput input", autocomplete = "username", aria_required = "true", placeholder = "Телефонски број" })
                                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                                </div>
                            </div>
                            <div class="register-container09">
                                <div class="register-container10">
                                    <span class="register-text11">Пол</span>
                                    @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                                    {
                                    new SelectListItem { Text = "Машки", Value = "Male" },
                                    new SelectListItem { Text = "Женски", Value = "Female" }
                                    }, "Избери пол", new { @class = "register-select", aria_required = "true" })
                                    @Html.ValidationMessageFor(m => m.Gender)
                                </div>
                                <div class="register-container11">
                                    <span class="register-text12">Години возраст</span>
                                    @Html.TextBoxFor(m => m.Age, new { @class = "register-textinput4 input", type = "number", min = "1", step = "1", autocomplete = "username", aria_required = "true", placeholder = "Години возраст..." })
                                    @Html.ValidationMessageFor(m => m.Age)
                                </div>
                            </div>
                            <div class="register-container12">
                                <div class="register-container13">
                                    <span class="register-text13">Лозинка</span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "register-textinput input", autocomplete = "username", aria_required = "true", placeholder = "Лозинка" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                                <div class="register-container14">
                                    <span class="register-text14">Потврди Лозинка</span>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "register-textinput input", autocomplete = "new-password", aria_required = "true", placeholder = "Потврди лозинка" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                        <div class="register-container15">
                            <button class="button">
                                <span>Регистрирајте се</span>
                                <svg viewBox="0 0 1024 1024" class="register-icon12">
                                    <path d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"></path>
                                </svg>
                            </button>
                        

                            <a href="/Account/Login" class="register-text16">Веќе имате профил? Најавете се!</a>
                        </div>
                    </form>
                </div>
            </section>
            <footer class="register-footer">
                <div class="register-content">
                    <div class="register-details">
                        <h2 class="register-title1">Cimeri.mk</h2>
                    </div>
                    <div class="register-socials">
                        <img alt="image"
                             src="~/css/public/linkedin-200h.png"
                             class="register-image1" />
                        <img alt="image"
                             src="~/css/public/instagram-200h.png"
                             class="register-image2" />
                    </div>
                    <span class="register-copyright">
                        Privacy — Terms &amp; Conditions — Code of Conduct © 2023 Blagoja
                        Nikoloski All Rights Reservedd
                    </span>
                </div>
            </footer>
        </div>
    </div>
    <script data-section-id="navbar"></script>
</body>
</html>
