@using Cimeri.Domain.DTO

<!DOCTYPE html>
<html lang="en">
<head>
    <title>CimerList - Cimeri</title>
    <meta property="og:title" content="CimerList - Cimeri" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

            button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
                border-style: none;
                padding: 0;
            }

            button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
                outline: 1px dotted ButtonText;
            }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Source Sans Pro;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);
        }
    </style>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap"
          data-tag="font" />

    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        ScrollReveal({ reset: true });
    </script>
</head>
<body>
    <div>
        <link href="~/css/cimer-list.css" rel="stylesheet" />

        <div class="cimer-list-container">
            <section class="cimer-list-hero">
                <div class="cimer-list-background"></div>
                <header data-thq="thq-navbar" class="cimer-list-navbar">
                    <img alt="image"
                         src="~/css/public/c-white-200w.png"
                         class="cimer-list-image" />
                    <div data-thq="thq-navbar-nav"
                         data-role="Nav"
                         class="cimer-list-desktop-menu">
                        <nav data-thq="thq-navbar-nav-links"
                             data-role="Nav"
                             class="cimer-list-nav">
                            <span class="navLink">
                                <a href="/">Почетна</a>
                            </span>
                            
                            <span class="navLink">
                                <a href="/MyProfile">Мој профил</a>
                            </span>
                        </nav>
                        <a href="/Account/Logout" class="button">
                            <span>Одјави се</span>
                            <svg viewBox="0 0 1024 1024" class="cimer-list-icon">
                                <path d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"></path>
                            </svg>
                        </a>
                    </div>
                    
                </header>
                <div class="cimer-list-hero-content">
                    <h1 class="cimer-list-text7">Овие се твоите идни</h1>
                    <img alt="image"
                         src="~/css/public/cimeri-white-200h.png"
                         class="cimer-list-image1" />
                </div>
            </section>
            <section class="cimer-list-notes">
                <div class="cimer-list-first">
                    <div data-aos="fade-up-right" class="cimer-list-content">
                        <h2 class="cimer-list-header">
                            Ве замолуваме да ги контактирате во разумни часови. Ви
                            благодариме.
                        </h2>
                    </div>
                </div>
                <div class="cimer-list-second">
                    <div data-aos="fade-up-left" class="cimer-list-content1">
                        <div class="cimer-list-features">
                            <div class="cimer-list-container2">


                                @{
                                    var cimerList = ViewBag.cimerList as List<CimerListDto>;
                                }

                                @foreach (var cimerDto in cimerList)
                                {
                                    <div class="feature-card3-feature-card feature-card3-root-class-name">
                                        <img alt="image" src="~/css/public/c-grey-200w.png" class="feature-card3-image" />
                                        <h2 class="feature-card3-text"><span>@cimerDto.Name</span></h2>
                                        <h2 class="feature-card3-text1"><span>@cimerDto.Age</span></h2>
                                        <span class="feature-card3-text2"><span>E-Пошта:</span></span>
                                        <span class="feature-card3-text3"><span>@cimerDto.Email</span></span>
                                        <span class="feature-card3-text4"><span>Телефонски број:</span></span>
                                        <span class="feature-card3-text5"><span>@cimerDto.PhoneNumber</span></span>
                                        <div class="feature-card3-container">
                                            <h2 class="feature-card3-text6">
                                                <span>Совпаѓање: @cimerDto.Compatibility%</span>
                                            </h2>
                                        </div>
                                    </div>
                                }



                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="cimer-list-footer">
                <div class="cimer-list-content2">
                    <div class="cimer-list-details">
                        <h2 class="cimer-list-title">Cimeri.mk</h2>
                    </div>
                    <div class="cimer-list-socials">
                        <img alt="image"
                             src="~/css/public/linkedin-200h.png"
                             class="cimer-list-image2" />
                        <img alt="image"
                             src="~/css/public/instagram-200h.png"
                             class="cimer-list-image3" />
                    </div>
                    <span class="cimer-list-copyright">
                        Privacy — Terms &amp; Conditions — Code of Conduct © 2023 Blagoja
                        Nikoloski All Rights Reserved
                    </span>
                </div>
            </footer>
        </div>
    </div>
    <script data-section-id="navbar"></script>
</body>




</html>
